<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Bloom Compiler</title>
</head>

<body>
    <div id="root"></div>
    <script type="module">
        /// @ts-check
        /**
         * @param {string} name
         * @param {string} style
         * @param {string} template
         * @param {(elem: ShadowRoot) => void} onInit
         */
        function createHTMLElement(name, style, template, onInit) {
            class E extends HTMLElement {
                constructor() {
                    super();
                }
                connectedCallback() {
                    const shadowRoot = this.attachShadow({ mode: 'closed' });
                    shadowRoot.innerHTML = `<style>${style}</style>${template}`;
                    onInit(shadowRoot);
                }
            }
            customElements.define(name, E);
            const Elem = customElements.get(name);
            if (Elem !== undefined) {
                const elem = new Elem();
                return { ...elem, make() { return elem.cloneNode(); } };
            }
            else {
                const invalidElem = document.createElement("div");
                invalidElem.textContent = `Failed to create element with name: ${name}`;
                return { ...invalidElem, make() { return invalidElem; } };
            }
        }

        const CodeEditor = createHTMLElement("blm-code-editor",
            `
                #code {
                    background:black;
                    color:white;
                    display: block;
                    font-family: monospace;
                    font-size: 16px;
                    padding: 0.5em 1em;

                    &:focus {
                        outline: none;
                    }
                }
            `,
            `<div id="code" contenteditable="true"></div>`,
            (root) => {
                /**
                 * @type {HTMLDivElement}
                 */
                const codeElem = root.getElementById("code");
                if (codeElem !== null) {
                    // Binding a keydown event to the code element, which is actually a div with contenteditable="true"
                    codeElem.addEventListener("keydown", (event) => {
                        if (event.key === "Tab") {
                            event.preventDefault();
                        }
                    });
                    codeElem.textContent = `fn main() {\n    println("Hello, world!");\n}`;
                }
            }
        );

        const rootElem = document.getElementById("root");

        if (rootElem !== null) {
            rootElem.appendChild(CodeEditor.make());
        }
    </script>
    <script type="module">
        /* window.raq = {};
        window.raq.createHTMLElement = function (name, style, template) {
            customElements.define(name, class extends HTMLElement {
                constructor() {
                    super();
                }
                connectedCallback() {
                    const shadowRoot = this.attachShadow({ mode: 'closed' });
                    shadowRoot.innerHTML = `<style>${style}</style>${template}`;
                }
            });
            const Elem = customElements.get(name);
            return new Elem();
        } */

        import init/* , { get_root } */ from './pkg/frontend.js';

        init().then(() => {
            /* const rootElem = document.getElementById("root");

            const navbarElem = get_root();
            rootElem.appendChild(navbarElem); */
        });
    </script>
</body>

</html>